/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #414243;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 300;
    font-family: "Merriweather";
}

a, a:visited {
    color: #414243;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.logo {
    position: relative;
    display: inline-block;
}
    .logo__trmtab {
        display: inline-block;
        height: 50px;
        border-right: 1px solid #aaa;
    }
    .logo__trmtab__img {
        width: 50px;
        padding-right: 15px;
    }
    .logo__sv__img {
        margin: 0 8px;
        width: 190px;
    }

    .logo--home {
        margin-top: 60px;
    }

    .logo--header .logo__trmtab {
        height: 30px;
    }
    .logo--header .logo__trmtab__img {
        width: 30px;
    }
    .logo--header .logo__sv__img {
        width: 140px;
    }


.btn {
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 0;
    border: 1px solid #414243;
    color: #414243;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
}
    .btn:hover, .btn:active {
        background-color: #414243;
        color: #fff;
    }

.header {
    position: fixed;
    top: -60px;
    width: 100%;
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    z-index: 10;
    height: 30px;
    padding: 10px 0;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.2s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}
    .header.scrolled {
        top: 0px;
    }
    .header-inner {
        width: 1120px;
        margin: 0 auto;
        position: relative;
    }
    .btn--header {
        font-size: .8em;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 5px 15px;
        border: none;
    }

.home {
    position: relative;
    margin: 0 auto;
    width: 1120px;
    height: 730px;
    overflow: hidden;
    text-decoration: none;
    color: #414243;
}
    .home__img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 130px;
    }

    .home__text {
        position: relative;
        top: 260px;
        width: 420px;
        left: 50px;
        font-size: 2em;
        line-height: 1.5;
    }


.about-section {
    position: relative;
    margin: 0 auto;
    width: 1120px;
    overflow: hidden;
}
    .about__text {
        line-height: 2;
        font-size: 1.2em;
    }

.about-section1 {
    height: 800px;
}
    .about1__content {
        top: 90px;
        width: 600px;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }
    .about1__img {
        position: absolute;
        top: 260px;
        right: 0;
        width: 80%;
    }

.about-section2 {
    height: 540px;
}
    .about2__content {
        width: 420px;
        position: absolute;
        right: 50px;
        top: 140px;
    }
    .about2__img {
        position: absolute;
        left: 0;
        top: 50px;
        width: 55%;
    }

.about-section3 {
    height: 700px;
}
    .about3__content {
        position: relative;
        width: 420px;
        top: 450px;
        left: 50px;
    }
    .about3__img {
        position: absolute;
        right: 0;
        top: -200px;
        width: 85%;
    }

.about-section4 {
    height: 600px;
}
    .about4__content {
        position: absolute;
        right: 50px;
        top: 250px;
        width: 420px;
    }

    .about4__img {
        position: absolute;
        left: 150px;
        top: 0;
        width: 65%;
    }

.about-section5 {
    height: 1000px;
}
    .about5__img {
        position: absolute;
        top: -50px;
        right: 100px;
        width: 82%;
    }
    .about5__img-tools-top {
        position: absolute;
        top: 620px;
        width: 600px;
        left: 0;
    }
    .about5__img-tools-bot {
        position: absolute;
        top: 940px;
        left: 0;
    }
    .about5__content {
        position: absolute;
        top: 580px;
        width: 420px;
        right: 50px;
    }

.read-more {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 0px;
    background: #222;
    -webkit-transition: height 0.3s ease-in;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: height 0.3s ease-in;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    overflow: hidden;
}
    .read-more__inner {
        width: 1120px;
        margin: 0 auto;
        position: relative;
        color: #fff;
    }
    .read-more.is-showing {
        height: 800px;
    }
    .read-more__text {
        position: absolute;
        right: 50px;
        top: 0;
        padding: 30px 0;
        width: 510px;
    }
    .read-more__col1 {
        width: 420px;
        position: absolute;
        left: 50px;
        top: 30px;
    }
    .read-more__col2 {
        width: 420px;
        position: absolute;
        right: 50px;
        top: 30px;
    }
    .read-more__video {
        width: 360px;
        height: 360px;
        border-radius: 360px;
        overflow: hidden;
        position: relative;
        margin: 30px 0;
    }
        .read-more__video video {
            margin-top: -100px;
            width: 100%;
        }

.footer {
    width: 1120px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}
    .footer__tools {
        width: 1120px;
        margin: 0 auto;
        position: relative;
        display: block;
    }
    .btn--footer-shop {
        width: 300px;
        display: block;
        margin: 30px auto 150px;
        font-size: 1.5em;
    }
    .social {
        list-style: none;
        margin: 30px 0;
        padding: 0;
    }
        .social li {
            display: inline-block;
        }

        .social img {
            opacity: 0.75;
        }

        .social a {
            display: inline-block;
            padding: 30px 15px;
        }

        .social a:hover img {
            opacity: 1;
        }


@media all and (max-width: 699px) {
  .header, .header.scrolled {
     display: none !important;
  }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
