/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #414243;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Merriweather";
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.btn {
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 0;
    border: 1px solid #948072;
    color: #948072;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
}
    .btn:hover, .btn:active {
        background-color: #948072;
        color: #fff; 
        font-weight: 300;
    }

.header {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 1280px;
    height: 960px;
    overflow: hidden;
    text-decoration: none;
    color: #414243;
}

    .header__img {
        position: absolute;
        width: 100%;
        top: 0;
        left: 130px;
    }

    .header__content {
        position: relative;
        top: 260px;
        width: 500px;
        text-align: center;
    }

.title {
    font-size: 3em;
    line-height: 1em;
    font-weight: 300;
    margin: 15px 0;
}

    .title__small {
        font-size: .5em;
        line-height: 1em;
        vertical-align: middle;
    }

.subtitle {
   margin: 15px 0;
   font-weight: 300;
   color: #948072;
}

.logo {
    position: relative;
    display: inline-block;
    height: 70px;
}
    .logo--header {
        margin-top: 30px;
    }


.about {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
}
    .about__item {
        width: 340px;
        display: block;
        padding: 30px;
    }

        .about__img {
            width: 340px;
            height: 340px;
            border-radius: 340px;
            overflow: hidden;
            position: relative;
            display: block;
        }
            .about__img img {
                max-width: 100%;
            }
            .about__img video {
                margin-top: -150px;
            }
        .about__info {
            padding: 30px;
            text-align: center;
        }
            .about__info a {
                color: #948072;
            }


.collection {
    position: relative;
    width: 1060px;
    padding: 60px 0;
    margin: 0 auto;
}
    .collection__title {
        font-weight: 300;
        text-align: center;
    }

.bag {
    display: flex;
}

    .bag__img {
        height: 580px;
    }
        .bag__img--small {
            height: 480px;
            margin: 50px;
        }

    .bag__title {
        font-size: 1.5em;
        font-weight: 300;
    }

    .bag__info {
        width: 380px;
        margin: auto 0;
    }
        .bag__info--right {
            text-align: right;
            margin-left: 100px;
        }


.footer {
    width: 100%;
    padding: 60px 0;
    text-align: center;
}

    .logo--footer {
        height: 90px;
    }

    .social {
        list-style: none;
        margin: 30px 0;
        padding: 0;
    }
        .social li {
            display: inline-block;
        }

        .social img {
            opacity: 0.75;
        }

        .social a {
            display: inline-block;
            padding: 30px 15px;
        }

        .social a:hover img {
            opacity: 1;
        }






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
